$fontFam: "Poppins", sans-serif;
@mixin fontFam {
    font-family: $fontFam;
}
@mixin textNor {
    font-style: normal;
}
@mixin fontRe {
    font-weight: 300;
}
@mixin fontMd {
    font-weight: 500;
}
@mixin fontBold {
    font-weight: 700;
}
// color

$color_white: #ffff;
$color_gray: #9e9e9e;

@mixin color_text_white {
    color: $color_white;
}
@mixin color_text_gray {
    color: $color_gray;
}
