@import "variable.scss";

// typo
@mixin text_16_regular {
    @include fontFam;
    @include fontNor;
    @include fontRe;
    font-size: 16px;
    line-height: 24px;
    @include color_text_gray;
}
.text_16_regular {
    @include text_16_regular();
}

@mixin text_42_md {
    @include fontFam;
    @include fontNor;
    @include fontMd;
    font-size: 42px;
    line-height: 50px;
    @include color_text_gray;
}
.text_42_md {
    @include text_42_md();
}
@mixin text_32_md {
    @include fontFam;
    @include fontNor;
    @include fontMd;
    font-size: 32px;
    line-height: 48px;
}
.text_32_md {
    @include text_32_md();
}
@mixin text_24_md {
    @include fontFam;
    @include fontNor;
    @include fontMd;
    font-size: 24px;
    line-height: 32px;
    @include color_text_gray;
}
.text_24_md {
    @include text_24_md();
}
// nav bar

@mixin nav_link {
    @include fontFam;
    @include fontNor;
    @include color_text_gray;
    font-size: 18px;
    line-height: 34px;
    padding: 8px 16px 8px 16px;
}
.nav_link {
    @include nav_link();
}
@mixin nav_items {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
}
.nav_items {
    @include nav_items();
    @include res_width_md {
        display: none;
    }
    @include res_width_sm {
        display: none;
    }
}
@mixin nav_btn {
    color: $color_gray;
    font-size: 32px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.nav_btn {
    @include nav_btn();
    @include res_width_md {
        display: flex;
    }
    @include res_width_sm {
        display: flex;
    }
}
// hero title
@mixin hero_section {
    @include res_width_md {
        justify-content: center;
        align-content: center;
        padding: 0px 24px 0px 24px;
        height: 100vh;
    }
    @include res_width_sm {
        height: 100vh;
    }
}
.hero_section {
    @include hero_section();
}
@mixin hero_heading_title {
    @include res_width_sm {
        padding: 0px 24px 0px 24px;
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }
}
.hero_heading_title {
    @include hero_heading_title();
}
@mixin hero_title {
    @include fontFam;
    @include fontBold;
    @include fontNor;
    font-size: 120px;
    line-height: 128px;
    @include color_text_gray;
    opacity: 0;
    transform: translateY(60px);
}
.hero_title {
    @include hero_title();
    @include res_width_lg {
        font-size: 98px;
        line-height: 106px;
    }
    @include res_width_md {
        font-size: 64px;
        line-height: 72px;
    }
    @include res_width_sm {
        font-size: 48px;
        line-height: 64px;
    }
}

@mixin hero_sub {
    @include fontFam;
    @include fontNor;
    @include color_text_green;
    @include fontRe;
    font-size: 90px;
    line-height: 98px;
}
.hero_sub {
    @include hero_sub();
    @include res_width_lg {
        font-size: 80px;
        line-height: 88px;
    }
    @include res_width_md {
        font-size: 58px;
        line-height: 66px;
    }
    @include res_width_sm {
        font-size: 32px;
        line-height: 48px;
    }
}
@mixin hero_p {
    @include fontFam;
    @include fontNor;
    @include color_text_gray;
    font-size: 18px;
    line-height: 40px;
    transform: translateY(60px);
    opacity: 0;
    @include res_width_sm {
        font-size: 16px;
        line-height: 28px;
    }
}
.hero_p {
    @include hero_p();
}
@mixin hero_heading_p {
    @include res_width_md {
        width: 80%;
    }
    @include res_width_sm {
        width: 90%;
    }
}
.hero_heading_p {
    @include hero_heading_p();
}
@mixin hero_round {
    @include res_width_lg {
        width: 600px;
        height: 600px;
    }
    @include res_width_md {
        width: 400px;
        height: 400px;
    }
    @include res_width_sm {
        width: 300px;
        height: 300px;
    }
}
.hero_round {
    @include hero_round();
}

// about_section

@mixin about_section {
    height: 100vh;
    @include color_bg_light;
    overflow: hidden !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include res_width_md {
        display: none;
    }
    @include res_width_sm {
        display: none;
    }
}
.about_section {
    @include about_section();
}
@mixin about_section_mb {
    display: none;
    @include res_width_md {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    @include res_width_sm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
}
.about_section_mb {
    @include about_section_mb();
}
@mixin about_container {
    @include res_width_md {
        padding: 0px 24px 0px 24px;
    }
    @include res_width_sm {
        padding: 0px 16px 0px 16px;
    }
}
.about_section_mb_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 42px;
}
.about_container {
    @include about_container();
}
.about_mb_skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}
.about_mb_skill_title {
    text-align: center;
    justify-content: center;
    display: flex;
}
@mixin about_skill_wrap {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-content: center;
}
.about_skill_wrap {
    @include about_skill_wrap();
}
@mixin about_btn {
    border-radius: 100px;
    outline: solid 1px $color_gray;
    padding: 8px 24px;
    display: flex;
    align-items: center;
    gap: 16px;
    width: fit-content;
    opacity: 0;
    transform: translateX(-80px);
}
.about_btn {
    @include about_btn();
}
@mixin about_section_mb_title {
    display: flex;
    flex-direction: column;
    padding: 0px 24px 0px 24px;
}
.about_section_mb_title {
    @include about_section_mb_title();
}
@mixin about_text {
    @include color_text_gray;
    @include fontFam;
    @include fontNor;
    @include fontRe;
    font-size: 24px;
    line-height: 48px;
    @include res_width_md {
        font-size: 18px;
        line-height: 34px;
    }
    @include res_width_sm {
        font-size: 16px;
        line-height: 32px;
        text-align: center;
    }
}
.about_text {
    @include about_text();
}

// works_section
@mixin works_section {
    height: 100vh;
    @include color_bg_light;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    @include res_width_md {
        height: max-content;
    }
    @include res_width_sm {
        height: max-content;
    }
}
.works_section {
    @include works_section();
}
.works_container {
    @include res_width_sm {
        padding: 0px 16px 0px 16px;
    }
}
.works_title {
    @include res_width_sm {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
}
.works_grid {
    @include res_width_sm {
        gap: 16px;
        width: 100%;
    }
}
.works_card {
    @include res_width_sm {
        padding: 0px 8px 0px 8px;
    }
}
.works_title_text {
    @include res_width_md {
        font-size: 32px;
        line-height: 48px;
    }
    @include res_width_sm {
        font-size: 24px;
        line-height: 40px;
    }
}
@mixin works_btn {
    border-radius: 100px;
    outline: solid 1px $color_gray;
    padding: 8px 24px;
    display: flex;
    align-items: center;
    gap: 16px;
    width: fit-content;
}
.works_btn {
    @include works_btn();
}
// contact_section
@mixin contact_section {
    height: 100vh;
    @include color_bg_light;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.contact_section {
    @include contact_section();
}
.contact_title {
    @include res_width_sm {
        width: 90%;
    }
}
@mixin contact_title_text {
    @include fontFam;
    @include fontNor;
    @include fontMd;
    font-size: 64px;
    line-height: 72px;
    @include color_text_gray;
    @include res_width_sm {
        font-size: 42px;
        line-height: 58px;
    }
}
.contact_title_text {
    @include contact_title_text();
}
@mixin contact_btn {
    border-radius: 100px;
    padding: 12px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
    width: fit-content;
    @include color_bg_gray;
    color: $color_light;
}
.contact_btn {
    @include contact_btn();
}
@mixin contact_label_text {
    @include fontNor;
    @include fontFam;
    @include fontRe;
    font-size: 16px;
    line-height: 24px;
    @include color_text_gray;
}
.contact_label_text {
    @include contact_label_text();
}
@mixin contact_text {
    @include fontFam;
    @include fontNor;
    @include fontMd;
    font-size: 18px;
    line-height: 26px;
    @include color_text_gray;
}
.contact_text {
    @include contact_text();
}
// footer_text
@mixin footer_text {
    @include fontNor;
    @include fontFam;
    @include fontRe;
    font-size: 16px;
    line-height: 24px;
    @include color_text_gray;
}
.footer_text {
    @include footer_text();
}
.footer_row {
    @include res_width_sm {
        display: flex;
        flex-direction: column;
        gap: 16px;
        justify-content: center;
        text-align: center;
    }
}
