@import "variable.scss";

// nav
.main_nav {
    background-color: #111;
    overflow: hidden;
    position: fixed;
    width: 100%;
    transform: translateY(-120px);
    left: 0;
    transition: ease 0.4s;
    z-index: 3;
}
.nav_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.nav_btn {
    text-decoration: none;
    font-size: 32px;
    color: $color_white;
}
// hero_section
.hero_section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #161515;
}

.hero_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    gap: 42px;
}
.hero_heading_row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 42px;
    width: 80%;
}
.hero_line {
    position: relative;
    background: linear-gradient(180deg, #37face 0%, #5bd6ff 33.5%, #38ffd6 63.5%, #9ce490 90%);
    height: 0%;
    width: 24px;
    border-radius: 50%;
}
.hero_line::before {
    content: "";
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from var(--a), #37face 0%, #5bd6ff 33.5%, #38ffd6 63.5%, #9ce490 90%);
    border-radius: 20px;
    animation: rotating 4s linear infinite;
    /* Applying rotation animation */
}

/* Styling for the blurred gradient on the main hero_line */
.hero_line::after {
    content: "";
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from var(--a), #37face 0%, #5bd6ff 33.5%, #38ffd6 63.5%, #9ce490 90%);
    border-radius: 20px;
    animation: rotating 4s linear infinite;
    /* Applying rotation animation */
    filter: blur(20px);
    opacity: 1.75;
}

/* Custom property for the rotation angle */
@property --a {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

/* Keyframes for the rotating animation */
@keyframes rotating {
    0% {
        --a: 0deg;
    }

    100% {
        --a: 360deg;
    }
}

.hero_heading_wrap {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: start;
}
.hero_heading_text {
    @include fontFam;
    @include textNor;
    @include fontBold;
    font-size: 84px;
    line-height: 100px;
    @include color_text_white;
    opacity: 0;
    transform: translateY(60px);
}
.hero_sub_text {
    @include fontFam;
    @include textNor;
    @include fontRe;
    font-size: 52px;
    line-height: 68px;
    @include color_text_white;
    opacity: 0;
    transform: translateY(60px);
}
.hero_p_text {
    @include fontFam;
    @include textNor;
    @include fontRe;
    font-size: 18px;
    line-height: 40px;
    @include color_text_gray;
    opacity: 0;
    transform: translateY(-60px);
}
.hero_nav_row {
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.hero_nav {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 24px;
}
.hero_link {
    @include fontFam;
    @include textNor;
    @include fontMd;
    font-size: 18px;
    line-height: 30px;
    @include color_text_white;
    text-decoration: none;
    text-align: end;
    opacity: 0;
    transform: translateX(60px);
    background-image: linear-gradient(to right, #fff, #fff 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
    &:before {
        content: "";
        background: #fff;
        display: block;
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 3px;
        transition: all 0.3s ease-in-out;
    }
    &:hover {
        background-position: 0;
    }
    &:hover::before {
        width: 100%;
    }
}
.contact_row {
    position: fixed;
    background-color: transparent;
    bottom: 24px;
    width: 100%;
    transform: translateY(120px);
    opacity: 0;
}
.contact_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
.contact_arrow {
    font-size: 32px;
    @include color_text_white;
}
.contact_text {
    @include fontFam;
    @include textNor;
    @include fontRe;
    font-size: 16px;
    line-height: 32px;
    @include color_text_white;
}
// about_section
.about_section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-attachment: fixed;
    background-color: #161515;
    position: relative;
    overflow: hidden;
}
.about_round {
    height: 20px;
    width: 60px;
    opacity: 0;
    transform: scale(0);
    background: linear-gradient(180deg, #37face 100%, #5bd6ff 100%, #38ffd6 63.5%, #9ce490 90%);
    position: absolute;
    transform: translateY(820px);
    border-radius: 600px;
    filter: blur(10px);
    z-index: 0;
    transform: translateX(420px);
}
.about_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 32px;
    z-index: 1;
}
.about_title {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: start;
    gap: 24px;
}
.about_title_text {
    @include fontFam;
    @include fontMd;
    @include textNor;
    font-size: 42px;
    line-height: 58px;
    @include color_text_white;
    text-align: start;
    opacity: 0;
    transform: translateY(-60px);
}
.about_text_p {
    @include fontFam;
    @include fontRe;
    @include textNor;
    font-size: 16px;
    line-height: 32px;
    @include color_text_white;
    opacity: 0;
    transform: translateY(-60px);
}
.cta_btn {
    display: inline-flex;
    padding: 4px 24px;
    height: 54px;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    gap: 16px;
    border-radius: 100px;
    background: linear-gradient(265deg, #37face -25.01%, #5bd6ff 13.26%, #35fcfc 55.52%, #38ffd6 88.65%);
    text-decoration: none;
    @include fontFam;
    @include fontRe;
    @include textNor;
    font-size: 16px;
    line-height: 32px;
    color: #030014;
}
.about_btn {
    transform: translateX(-60px);
    opacity: 0;
}
.about_skill {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-content: center;
}
.skill_title_row {
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.skill_card_wrap {
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.skill_card {
    display: flex;
    flex-direction: column;
    align-items: start;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.173);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(13px);
    gap: 8px;
    padding: 24px;
    transform: translateY(60px);
    opacity: 0;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    transition: linear 0.2s;
}
.skill_card_icon {
    font-size: 48px;
    color: $color_white;
    filter: drop-shadow(0px 0px 11.9px rgba(255, 255, 255, 0.52));
    transform: translateZ(20px);
    transform-style: preserve-3d;
}
.skill_card_content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 16px;
}
.skill_card_title {
    @include fontFam;
    @include fontMd;
    @include textNor;
    font-size: 24px;
    line-height: 40px;
    @include color_text_white;
    transform: translateZ(80px);
    transform-style: preserve-3d;
}
.skill_card_content_sub {
    @include fontFam;
    @include fontRe;
    @include textNor;
    font-size: 18px;
    line-height: 32px;
    @include color_text_gray;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
// works_section

.works_section {
    background-color: #111111;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
.works_heading {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 42px;
    z-index: 1;
    position: relative;
    overflow: hidden;
}
.code_obj {
    width: 240px;
    height: 240px;
    scale: 0.3;
    position: absolute;
    z-index: 0;
    bottom: -100%;
    left: -100%;
    opacity: 0;
}
.layer_obj {
    width: 240px;
    height: 240px;
    scale: 0.3;
    position: absolute;
    z-index: 0;
    bottom: -100%;
    right: -100%;
    opacity: 0;
}
@mixin works_heading_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    gap: 16px;
}
.works_heading_title {
    @include works_heading_title();
    z-index: 1;
}
.works_title_text {
    @include fontFam;
    @include fontMd;
    @include textNor;
    font-size: 80px;
    line-height: 88px;
    @include color_text_white;
    text-align: center;
    opacity: 0;
    transform: translateY(-60px);
}
.works_title_text_2 {
    @include fontFam;
    @include fontMd;
    @include textNor;
    font-size: 42px;
    line-height: 50px;
    @include color_text_white;
    text-align: center;
    opacity: 0;
    transform: translateY(-60px);
}
.works_heading_text_p {
    @include fontFam;
    @include fontRe;
    @include textNor;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    @include color_text_white;
    opacity: 0;
    transform: translateY(-60px);
}
@mixin works_heading_graphic {
    height: 60%;
    width: 100%;
    border-radius: 8px;
    background: linear-gradient(105deg, rgba(183, 183, 183, 0.2) 1.17%, rgba(65, 65, 65, 0.2) 69.14%);
    z-index: 1;
    border: 1px solid rgba(255, 255, 255, 0.25);
}
.works_heading_graphic {
    @include works_heading_graphic();
}
.works_big_card {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 32px;
    z-index: 1;
}
.works_big_card_graphic {
    height: 60vh;
    width: 100%;
    position: relative;
    border-radius: 8px;
    opacity: 0.5;
    background: linear-gradient(105deg, rgba(183, 183, 183, 0.2) 1.17%, rgba(65, 65, 65, 0.2) 69.14%);
    border: 1px solid rgba(255, 255, 255, 0.19);
    transform: scale(0.7);
    backdrop-filter: blur(16.75px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    gap: 24px;
}
.big_card_logo {
    position: absolute;
    width: 100%;
    height: auto;
    max-width: 20%;
    opacity: 1;
}
.big_card_img {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 80%;
    opacity: 1;
}
.works_big_card_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.works_big_card_title {
    @include fontMd;
    @include fontFam;
    @include textNor;
    font-size: 34px;
    line-height: 50px;
    @include color_text_white;
    text-align: center;
    transform: translateY(-80px);
    opacity: 0;
}
.works_big_card_p {
    @include fontRe;
    @include fontFam;
    @include textNor;
    font-size: 16px;
    line-height: 32px;
    @include color_text_gray;
    text-align: center;
    transform: translateY(-80px);
    opacity: 0;
}
.more_works {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 32px;
}
.more_works_card_wrap {
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 24px;
}
.works_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    opacity: 0;
    transform: translateX(80px);
}
.works_btn {
    opacity: 0;
    transform: translateY(80px);
}
.works_card_img {
    width: 100%;
    height: auto;
}
.works_card_content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 8px;
}
.works_card_title {
    @include fontRe;
    @include fontFam;
    @include textNor;
    font-size: 18px;
    line-height: 34px;
    @include color_text_white;
}
.works_card_p {
    @include fontRe;
    @include fontFam;
    @include textNor;
    font-size: 16px;
    line-height: 32px;
    @include color_text_gray;
}
.works_btn_row {
    display: flex;
    justify-content: center;
}
@mixin works_circle {
    position: absolute;
    border-radius: 50%;
    background: radial-gradient(84.4% 84.4% at 27.78% 24.07%, #646464 0%, #292929 60.46%, #0f0f0f 79.62%, #1b1b1b 100%);
    box-shadow: 10px 30px 30px 0px rgba(0, 0, 0, 0.1);
}
.works_circle_left {
    position: absolute;
    height: 420px;
    width: 420px;
    z-index: 0;
    left: 10%;
    top: 520px;
}
.works_circle_right {
    border-radius: 50%;
    background: linear-gradient(261deg, #37face -26.47%, #5bd6ff 22.55%, #35fcfc 76.7%, #38ffd6 119.14%);
    filter: blur(2.5999999046325684px);
    position: absolute;
    width: 200px;
    height: 200px;
    transform: scale(2);
    z-index: 0;
    right: 10%;
    top: 50%;
}
.works_circle_nav {
    display: flex;
}
// contact_section

.contact_section {
    height: 100vh;
    background-color: #111111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: relative;
}
.contact_section_container {
    display: flex;
    gap: 48px;
    padding: 64px 48px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-radius: 16px;
    background: linear-gradient(105deg, rgba(183, 183, 183, 0.2) 1.17%, rgba(65, 65, 65, 0.2) 69.14%);
    border: 1px solid rgba(255, 255, 255, 0.19);
}
.contact_title_row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.contact_title_text {
    @include fontFam;
    @include fontMd;
    @include textNor;
    font-size: 42px;
    line-height: 58px;
    @include color_text_white;
    text-align: center;
    width: 100%;
}
.contact_btn_row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-content: center;
    align-items: center;
    justify-items: center;
}

.contact_info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
}
.email_wrap,
.phone_wrap,
.location_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}
.contact_detail_title {
    @include fontFam;
    @include fontRe;
    @include textNor;
    font-size: 16px;
    line-height: 24px;
    @include color_text_gray;
    text-align: center;
}
.contact_detail_info {
    @include fontFam;
    @include fontMd;
    @include textNor;
    font-size: 16px;
    line-height: 24px;
    @include color_text_white;
    text-align: center;
}
//  footer
.footer {
    background-color: #111111;
    display: flex;
    flex-direction: column;
    padding: 40px 0px 40px 0px;
}
.footer_line {
    width: 100%;
    height: 1px;
    background-color: $color_gray;
    margin: 16px 0px;
}
.footer_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.footer_text_wrap {
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.footer_text {
    @include fontRe;
    @include fontFam;
    @include textNor;
    font-size: 16px;
    line-height: 32px;
    @include color_text_gray;
}
.footer_social {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    gap: 16px;
}
.footer_icon {
    font-size: 32px;
    @include color_text_white;
    padding: 8px;
    text-decoration: none;
}
