/* reset html */

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

ol,
ul {
    list-style: none;
}

body,
html {
    margin: 0;
    padding: 0;
    background-color: #EAEDE6;
    font-family: BT Beau Sans, sans-serif;
    overflow: auto;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

a {
    text-decoration: none;
    all: unset;
    cursor: pointer;
}

/* preloader */

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8ABC8B;
    overflow: hidden;
    z-index: 100;
}

.text-container {
    display: flex;
    flex-direction: row;
    gap: 4px;
    overflow: hidden;
    color: white;
    opacity: 0;
}

.preloader_text {
    color: #ffff;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

/* end preloader */

/* scorllbar */

::-webkit-scrollbar {
    width: 4px;
    z-index: 10;
}

::-webkit-scrollbar-track {
    background-color: #EAEDE6;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    z-index: 10;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #4E7C58;
    z-index: 10;
}

/* main_nav */
.main_nav {
    background-color: #EAEDE6;
    position: fixed;
    transition: ease 0.4s;
    width: 100%;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #EAEDE6;
}


/* hero_section */
.hero_section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    overflow: hidden;
    background-color: #EAEDE6;
}

.hero_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.hero_heading_title {
    display: flex;
    flex-direction: row;
    gap: 16px;
    z-index: 1;
}

.hero_sub {
    opacity: 1;
    transform: translateY(60px);
}

.hero_heading_subtitle {
    display: flex;
    flex-direction: row;
    gap: 8px;
    z-index: 1;
    opacity: 0;
    transform: translateY(80px);
}

.hero_heading_p {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
    z-index: 1;
}

.hero_round {
    background: linear-gradient(180deg, #4E7C58 0%, rgba(234, 237, 230, 0.11) 69.31%);
    border-radius: 1500px;
    width: 750px;
    height: 750px;
    z-index: 0;
    position: absolute;
    margin-top: 50%;
    margin-bottom: 50%;
    margin-left: 50%;
    margin-right: 50%;
    opacity: 0;
    transform: translateY(120px);
}

/* about section */

.about_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.about_content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about_text {
    opacity: 0;
    transform: translateY(-50px);
    transform: rotateZ('30');
}

.about_line {
    width: 0%;
    height: 1px;
    background-color: #D6D6D6;
}

.skill_title {
    display: flex;
    justify-content: start;
    justify-items: start;
    align-items: center;
    transform: translateX(-100px);
    opacity: 0;
}

.skill_col {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
}


.about_card {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    transform: translateY(80px);
    opacity: 0;
}

.skill_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
    gap: 16px;
}

.skill_line {
    height: 0%;
    width: 1px;
    background-color: #D6D6D6;
}


/* works_section */

.works_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
}

.works_container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.works_title_text {
    opacity: 0;
    transform: translateY(80px);
}

.works_btn {
    opacity: 0;
    transform: translateY(80px);
}

.works_card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: start;
    align-items: start;
}

#works_1,
#works_2,
#works_3,
#works_4,
#works_5,
#works_6 {
    transform: translateY(60px);
    opacity: 0;
}

.works_detail {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: start;
    justify-items: start;
    text-align: start;
}

.works_img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

/* contact_section */
.contact_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 42px;
    z-index: 1;
}

.contact_title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50vw;
    text-align: center;
    align-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(80px);
}

.contact_btn {
    opacity: 0;
    transform: translateY(80px);
}

.contact_detail {
    opacity: 0;
    transform: translateY(80px);
}

.contact_group {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.contact_detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    z-index: 1;
}

/* footer */
.footer_container {
    padding: 16px 0px 16px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 16px;
}

.footer_line {
    width: 100%;
    height: 1px;
    background-color: #D6D6D6;
}

.footer_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}